/*------------------Fonts----------------*/

$h-font: 'Audiowide', cursive
$cont-font: 'Noto Sans', sans-serif
$game-font: 'Press Start 2P', cursive

/*------------------Colors----------------*/

$color-one: #001fe9
$color-two: #0ea900
$color-two2: #62ff59
$color-three: #e4f000
$color-four: #d50000
$color-black: black

/*------------------Cursor----------------*/

$black-cursor: url(https://ani.cursors-4u.net/cursors/cur-13/cur1163.ani), url(https://ani.cursors-4u.net/cursors/cur-13/cur1163.png), auto !important
$blue-cursor: url(https://ani.cursors-4u.net/cursors/cur-13/cur1160.ani), url(https://ani.cursors-4u.net/cursors/cur-13/cur1160.png), auto !important
$green-cursor: url(https://ani.cursors-4u.net/cursors/cur-13/cur1161.ani), url(https://ani.cursors-4u.net/cursors/cur-13/cur1161.png), auto !important
$yellow-cursor: url(https://ani.cursors-4u.net/cursors/cur-13/cur1164.ani), url(https://ani.cursors-4u.net/cursors/cur-13/cur1164.png), auto !important
$red-cursor: url(https://ani.cursors-4u.net/cursors/cur-13/cur1159.ani), url(https://ani.cursors-4u.net/cursors/cur-13/cur1159.png), auto !important