/*----------------- Style for Project -------------------*/
/*------------------Fonts----------------*/
/*------------------Colors----------------*/
/*------------------Cursor----------------*/
/* Media Queries */
.three {
  width: 100vw;
  height: auto;
  cursor: url(cursor/tailless_yellow.png), auto !important;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.9fr 1fr;
      grid-template-rows: 0.9fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'text text' 'fe be';
}

@media screen and (max-width: 800px) {
  .three {
    height: auto;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 'text' 'fe' 'be';
  }
}

@media screen and (max-width: 480px) {
  .three {
    -ms-grid-rows: 0.5fr 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr;
  }
}

.three #ptext {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: text;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-family: "Audiowide", cursive;
}

.three #ptext h1 {
  font-family: "Audiowide", cursive;
  color: #e4f000;
  margin-bottom: 1em;
}

.three #ptext p {
  color: white;
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

.three #feDiv {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: fe;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: self-start;
      align-self: self-start;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 4em 12em 12em;
      grid-template-rows: 4em 12em 12em;
  -ms-grid-columns: 200px 200px 200px;
      grid-template-columns: 200px 200px 200px;
      grid-template-areas: 'head head head' 'foto cr1 cr2' 'cr3 cr4 .';
}

@media screen and (max-width: 800px) {
  .three #feDiv {
    -ms-grid-rows: 4em 12em 12em 12em;
        grid-template-rows: 4em 12em 12em 12em;
    -ms-grid-columns: 150px 150px;
        grid-template-columns: 150px 150px;
        grid-template-areas: 'head head' 'foto cr1' 'cr2 cr3' 'cr4 cr4';
    margin-top: 3em;
  }
}

@media screen and (max-width: 480px) {
  .three #feDiv {
    -ms-grid-rows: 4em 12em 12em 12em;
        grid-template-rows: 4em 12em 12em 12em;
    -ms-grid-columns: 150px 150px;
        grid-template-columns: 150px 150px;
        grid-template-areas: 'head head' 'foto cr1' 'cr2 cr3' 'cr4 cr4';
    margin-top: 3em;
  }
}

.three #feDiv h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: head;
  font-family: "Audiowide", cursive;
  color: #e4f000;
      justify-self: center;
  -ms-flex-item-align: self-start;
      align-self: self-start;
  margin-bottom: 0.5em;
}

.three #feDiv #fotoDiv {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: foto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.three #feDiv #fotoDiv #aAngular {
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
  color: #e4f000;
  margin-bottom: 0.5em;
}

.three #feDiv #fotoDiv #gitfoto {
  margin-top: 0.5em;
}

.three #feDiv #cr1Div {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: cr1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.three #feDiv #cr1Div #aCr1 {
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
  color: #e4f000;
  margin-bottom: 0.5em;
}

.three #feDiv #cr1Div #gitcr1 {
  margin-top: 0.8em;
}

.three #feDiv #cr2Div {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: cr2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.three #feDiv #cr2Div #aCr2 {
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
  color: #e4f000;
  margin-bottom: 0.5em;
}

.three #feDiv #cr2Div #gitcr2 {
  margin-top: 0.8em;
}

.three #feDiv #cr3Div {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: cr3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.three #feDiv #cr3Div #aCr3 {
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
  color: #e4f000;
  margin-bottom: 0.5em;
}

.three #feDiv #cr3Div #gitcr3 {
  margin-top: 0.8em;
}

.three #feDiv #cr4Div {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: cr4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.three #feDiv #cr4Div #aCr4 {
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
  color: #e4f000;
  margin-bottom: 0.5em;
}

.three #feDiv #cr4Div #gitcr4 {
  margin-top: 0.8em;
}

.three #feDiv a {
  cursor: url(cursor/tailless_yellow.png), auto !important;
}

.three #feDiv img {
  cursor: url(cursor/tailless_grey.png), auto !important;
}

.three #beDiv {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: be;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: self-start;
      align-self: self-start;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 4em 12em 12em;
      grid-template-rows: 4em 12em 12em;
  -ms-grid-columns: 200px 200px 200px;
      grid-template-columns: 200px 200px 200px;
      grid-template-areas: 'head head head' 'com cr10 cr11' '. cr12 cr13';
}

@media screen and (max-width: 800px) {
  .three #beDiv {
    -ms-grid-rows: 4em 12em 12em 12em;
        grid-template-rows: 4em 12em 12em 12em;
    -ms-grid-columns: 150px 150px;
        grid-template-columns: 150px 150px;
        grid-template-areas: 'head head' 'com cr10' 'cr11 cr12' 'cr13 cr13';
    margin-top: 3em;
  }
}

@media screen and (max-width: 480px) {
  .three #beDiv {
    -ms-grid-rows: 4em 12em 12em 12em;
        grid-template-rows: 4em 12em 12em 12em;
    -ms-grid-columns: 150px 150px;
        grid-template-columns: 150px 150px;
        grid-template-areas: 'head head' 'com cr10' 'cr11 cr12' 'cr13 cr13';
    margin-top: 3em;
  }
}

.three #beDiv h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: head;
  font-family: "Audiowide", cursive;
  color: #e4f000;
}

.three #beDiv #comDiv {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: com;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.three #beDiv #comDiv #aPHP {
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
  color: #e4f000;
  margin-bottom: 0.5em;
}

.three #beDiv #comDiv #gitcom {
  margin-top: 0.8em;
}

.three #beDiv #cr10Div {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: cr10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.three #beDiv #cr10Div #acr10 {
  text-decoration: none;
  color: #e4f000;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0.5em;
}

.three #beDiv #cr10Div #gitcr10 {
  margin-top: 0.8em;
}

.three #beDiv #cr11Div {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: cr11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.three #beDiv #cr11Div #acr11 {
  text-decoration: none;
  color: #e4f000;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0.5em;
}

.three #beDiv #cr11Div #gitcr11 {
  margin-top: 0.8em;
}

.three #beDiv #cr12Div {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: cr12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.three #beDiv #cr12Div #acr12 {
  text-decoration: none;
  color: #e4f000;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0.5em;
}

.three #beDiv #cr12Div #gitcr12 {
  margin-top: 0.8em;
}

.three #beDiv #cr13Div {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: cr13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.three #beDiv #cr13Div #acr13 {
  text-decoration: none;
  color: #e4f000;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0.5em;
}

.three #beDiv #cr13Div #gitcr13 {
  margin-top: 0.8em;
}

.three #beDiv a {
  cursor: url(cursor/tailless_yellow.png), auto !important;
}

.three #beDiv img {
  cursor: url(cursor/tailless_grey.png), auto !important;
}
/*# sourceMappingURL=project.css.map */