/*----------------- Style for Project -------------------*/

@import utility
@import mQ

.three
    width: 100vw
    height: 100vh
    cursor: $yellow-cursor
    display: grid
    grid-template-rows: 0.9fr 1fr
    grid-template-columns: 1fr 1fr
    grid-template-areas: 'text text' 'web game'
    @include tablet
        height: auto
        grid-template-rows: 1fr 1fr 1fr
        grid-template-columns: 1fr
        grid-template-areas: 'text' 'web' 'game'
    
    #ptext
        grid-area: text
        justify-self: center
        align-self: end
        text-align: center
        font-family: $h-font

        h1
            font-family: $h-font
            color: $color-three
            margin-bottom: 1em
        
        p
            color: white
            font-size: 1.2em
            margin-bottom: 0.8em

    #web
        grid-area: web
        justify-self: center
        align-self: self-start
        text-align: center
        display: grid
        grid-template-rows: 4em 12em
        grid-template-columns: 200px 200px
        grid-template-areas: 'head head' 'foto com'
        @include phone
            grid-template-rows: 4em 12em
            grid-template-columns: 150px 150px
            margin-top: 3em

        h2
            grid-area: head
            font-family: $h-font
            color: $color-three
            justify-self: center
            align-self: self-start
            margin-bottom: 0.5em

        #fotoDiv
            grid-area: foto
            display: flex
            flex-direction: column

            #aAngular
                font-family: $cont-font
                text-decoration: none
                color: $color-three
                margin-bottom: 0.5em

            #gitfoto
                margin-top: 0.5em

        #comDiv
            grid-area: com
            display: flex
            flex-direction: column

            #aPHP
                font-family: $cont-font
                text-decoration: none
                color: $color-three
                margin-bottom: 0.5em

            #gitcom
                margin-top: 0.8em
            
        a
            cursor: $black-cursor

    #game
        grid-area: game
        justify-self: center
        align-self: self-start
        text-align: center
        display: grid
        grid-template-rows: 4em 12em
        grid-template-columns: 200px 200px
        grid-template-areas: 'head head' 'space snake'
        @include phone
            grid-template-rows: 4em 12em
            grid-template-columns: 150px 150px
            margin-top: 3em

        h2
            grid-area: head
            font-family: $h-font
            color: $color-three

        #space
            grid-area: space
            display: flex
            flex-direction: column

            #aSpace
                text-decoration: none
                color: $color-three
                font-family: $game-font
                font-size: 0.7em
                margin-bottom: 0.5em
            
            #gitSpace
                margin-top: 0.5em

        #snake
            grid-area: snake
            display: flex
            flex-direction: column

            #aSnake
                text-decoration: none
                color: $color-three
                font-family: $game-font
                font-size: 0.7em
                margin-bottom: 0.5em

            #gitSnake
                margin-top: 0.5em

        a
            cursor: $black-cursor