/*---------------Style for Space War-------------------*/
/*------------------Fonts----------------*/
/*------------------Colors----------------*/
/*------------------Cursor----------------*/
/* Media Queries */
::-webkit-scrollbar {
  display: none;
}

html {
  cursor: url(cursor/tailless_yellow.png), auto !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  background-color: black;
}

body #container {
  width: 100vw;
  height: auto;
  font-family: "Press Start 2P", cursive;
  cursor: url(cursor/tailless_yellow.png), auto !important;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5em 1fr 5em;
      grid-template-rows: 5em 1fr 5em;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: 'head head head' 'control game instract' 'back back back';
}

@media screen and (max-width: 1020px) {
  body #container {
    -ms-grid-rows: 5em 1fr 5em 8em 15em;
        grid-template-rows: 5em 1fr 5em 8em 15em;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 'head' 'game' 'back' 'control' 'instract';
  }
}

@media screen and (max-width: 800px) {
  body #container {
    -ms-grid-rows: 5em 1fr 5em 8em 15em;
        grid-template-rows: 5em 1fr 5em 8em 15em;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 'head' 'game' 'back' 'control' 'instract';
  }
}

body #container canvas {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: game;
  background-color: black;
  border: 5px solid blue;
  cursor: none;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body #container #hspace {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: head;
  color: #e4f000;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body #container #control {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: control;
  width: 300px;
  text-align: center;
  font-size: 0.8em;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body #container #control p {
  color: #e4f000;
}

body #container #instructions {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: instract;
  width: 300px;
  text-align: center;
  font-size: 0.8em;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body #container #instructions p {
  color: #e4f000;
}

body #container #back {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: back;
  color: #e4f000;
  cursor: url(cursor/tailless_grey.png), auto !important;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body #container #back:hover {
  color: gray;
}

body #container #start {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: game;
  width: 200px;
  height: 140px;
  border: 5px solid #0022ff;
  border-radius: 40px;
  background-color: #0088ff;
  text-align: center;
  z-index: 5;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body #container #start #score {
  margin: 20px 0 0 0;
  display: none;
}

body #container #start #space {
  margin-bottom: 0;
}

body #container #start #points {
  margin: 10px 0 0 0;
  display: none;
}

body #container #start #gameStart {
  width: 8rem;
  margin: 15px 0 10px 0;
  background-color: #5eff00;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  outline: none;
  cursor: url(cursor/tailless_yellow.png), auto !important;
}

body #container #start #gameStart:hover {
  background-color: rgba(94, 255, 0, 0.639);
}
/*# sourceMappingURL=space.css.map */